{"filter":false,"title":"requirements.txt","tooltip":"/x23127082_cpp-main/x23127082_cpp-main/requirements.txt","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":0},"action":"remove","lines":["asgiref==3.2.7","Django==3.0.5","django-widget-tweaks==1.4.8","pytz==2020.1","sqlparse==0.3.1","vedlibrary==0.1","",""],"id":2},{"start":{"row":0,"column":0},"end":{"row":7,"column":0},"action":"insert","lines":["django>=4.2","djangorestframework","django-crispy-forms","django-allauth","gunicorn","psycopg2-binary","whitenoise",""]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":7,"column":0},"end":{"row":7,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1731689779975,"hash":"60a2cd3e4c1356a232e5d89337a7da774433687d"}